* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
body {
  font-family: serif;
}
.main-nav {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  gap: 150px;
  height: 100px;
  background-color: #fdfdfd;
  box-shadow: #f5f5f5 0px 0px 2px;
  /* z-index: 5px; */
  /* position: fixed; */
}
.main-nav .logo {
  height: 95px;
  width: 75px;
  /* border: solid; */
  margin-left: 20px;
  border-radius: 0px 0px 15px 15px;
  background-color: white;
}
.main-nav .logo img {
  width: 100%;
  height: inherit;
}
.main-nav .el-list {
  width: 70%;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 40px;
  /* border: solid; */
}
.main-nav .el-list .el {
  text-decoration: none;
  opacity: 0.9;
  font-size: 25px;
  font-weight: 540;
  color: #020275;
}

.main-nav .el-list2 {
  width: 20%;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 5px;
  /* border: solid; */
}
.main-nav .el-list2 span {
  font-size: 30px;
  font-weight: 400;
  color: #020275;
  /* border: solid; */
}
.main-nav .el-list2 .el {
  text-decoration: none;
  opacity: 0.9;
  font-size: 25px;
  font-weight: 540;
  color: #020275;
}
